<div class="home__mod2">
  <div class="row">
    <div class="col-12">
      <h2 style="text-align: center;">最近の活動</h2>
    </div>

    <div class="col-md-8">
      <p class="date">2021/2/13(土)</p>
      <p>★代々木公園で安里屋ゆんたを踊ってみました★</p>
      <div class="row">
        <div class="col-md-8">
          <p>場所：代々木公園<br>
            曲　：「安里屋ゆんた」</p>
        </div>
        <div class="col-md-4">
          <!-- Button trigger modal -->
          <p type="button" class="shiny-btn1" data-toggle="modal" data-target="#exampleModal">
            詳細はこちら
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="margin-bottom: 20px;">
      <iframe src="https://www.youtube.com/embed/FFRVY_pyZ84" frameborder="0" allow="fullscreen" width="100%"></iframe>
    </div>

    <div class="col-md-8">
      <p class="date">2021/1/31(日)</p>
      <p>★新年初叩き！安里屋ゆんたを子供たちと踊りました★</p>
      <div class="row">
        <div class="col-md-8">
          <p>場所：代々木公園<br>
            曲　：「安里屋ゆんた」</p>
        </div>
        <div class="col-md-4">
          <!-- Button trigger modal -->
          <p type="button" class="shiny-btn1" data-toggle="modal" data-target="#exampleModal">
            詳細はこちら
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="margin-bottom: 20px;">
      <iframe src="https://www.youtube.com/embed/ex4HtslMVCU" frameborder="0" allow="fullscreen" width="100%"></iframe>
    </div>

    <div class="col-md-8">
      <p class="date">2020/1/24(日)</p>
      <p>★エイサーの締め太鼓を作ってみました★</p>
      <div class="row">
        <div class="col-md-8">
          <p>場所：House In ちゃぶ
        </div>
        <div class="col-md-4">
          <!-- Button trigger modal -->
          <p type="button" class="shiny-btn1" data-toggle="modal" data-target="#exampleModal">
            詳細はこちら
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="margin-bottom: 20px;">
      <iframe src="https://www.youtube.com/embed/yTjnIarKQug" frameborder="0" allow="fullscreen" width="100%"></iframe>
    </div>

    <div class="col-md-8">
      <p class="date">2020/12/23(水)</p>
      <p>★南風第二章初の動画をyoutubeにアップしました★</p>
      <div class="row">
        <div class="col-md-8">
          <p>場所：代々木公園<br>
            曲　：南風05 「くだか」</p>
        </div>
        <div class="col-md-4">
          <!-- Button trigger modal -->
          <p type="button" class="shiny-btn1" data-toggle="modal" data-target="#exampleModal">
            詳細はこちら
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="margin-bottom: 20px;">
      <iframe src="https://www.youtube.com/embed/zwGQ1OFMDto" frameborder="0" allow="fullscreen" width="100%"></iframe>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">活動内容詳細への遷移</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        活動内容の詳細へ移動しますか？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">戻る</button>
        <button type="button" class="btn btn-primary">移動する</button>
      </div>
    </div>
  </div>
</div>