<div class="box">
  <div class="bgImg src1">
    <p>
      最高の仲間たちと　歴史を紡いでゆく<br>
      <span style="color: #FF00FF;">南風第二章　始動</span>
    </p>
  </div>
  <div class="bgImg src2">
    <p>
      最高の仲間たちと　歴史を紡いでゆく<br>
      <span style="color: #FF00FF;">南風第二章　始動</span>
    </p>
  </div>
  <div class="bgImg src3">
    <p>
      最高の仲間たちと　歴史を紡いでゆく<br>
      <span style="color: #FF00FF;">南風第二章　始動</span>
    </p>
  </div>
  <div class="bgImg src4">
    <p>
      最高の仲間たちと　歴史を紡いでゆく<br>
      <span style="color: #FF00FF;">南風第二章　始動</span>
    </p>
  </div>
</div>
