<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<div class="home_image">
  <h1>ようこそ 南風へ!</h1>
</div>

<div class="row">
  <div class="col-4">
    <div class="slider">
      <a href="/intro"><img class="slide__image" src="/assets/paikaji_intro.jpg"></a>
      <a href="/members"><img class="slide__image" src="/assets/members.jpg"></a>
      <img class="slide__image" src="/assets/test3.png">
    </div>
  </div>
</div>