<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<% content_for(:html_description) { "南風第二章の概要や活動内容、愉快なメンバーをご紹介します！" } %>

<div class="container">
  <div class="row">
    <div class="col-12 greet__message">
      <h1 style="color: #003399; font-weight: bold;">
        ようこそ！南風へ
      </h1>
    </div>
  </div>

  <div class="row" style="background: linear-gradient(#CCFFCC, #66FFCC); margin-bottom: 2em;">
    <div class="col-4">
      <p style="text-align: center; font-size: 150%; padding-top: 15%;">
        最高の仲間たちと
      </p>
      <p style="text-align: center; font-size: 150%;">
        歴史を紡いでゆく
      </p>
      <p style="text-align: center; font-size: 200%; padding-top: 10%; color: #FF00FF;">
        南風第二章&nbsp;&nbsp;開始！！
      </p>
    </div>
    <div class="col-8">
      <div class="box">
        <div class="bgImg src1"></div>
        <div class="bgImg src2"></div>
        <div class="bgImg src3"></div>
        <div class="bgImg src4"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4" style="background: #FFFF99; padding: 1em; margin-bottom: 2em;">
      <div class="slider">
        <div class="slide__image">
          <a href="/intro">
            <div class="intro">
              <p>南風について</p>
            </div>
          </a>
        </div>
        <div class="slide__image">
          <a href="/members">
            <div class="members">
              <p>メンバー</p>
            </div>
          </a>
        </div>
        <div class="slide__image">
          <a href="/intro">
            <div class="activity">
              <p>活動内容</p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="col-8" style="background: #FFFF99; padding: 1em; margin-bottom: 2em;">
      <h2>◆代表挨拶◆</h2>
      <p style="font-size: 150%;">
        はいさ～～い、南風（ぱいかじ）代表の上原です。<br>
        私たちは、沖縄出身の２０代３０代が中心となって、関東で、沖縄の伝統芸能（エイサー）活動を行っています。<br>
        気軽に、自分らしく、生き生きとをモットーに活動する、アットホームなチームです。<br>
        いちゃりばちょーでーを合言葉に、少しづつ少しづつチームの輪を広げていきたいなと思っています。<br>
        踊りは、伝統的な沖縄の演舞をベースとして、よさこいの鳴子踊りの要素を追加した創作エイサーです。<br>
        現在のメンバーは、10人以下で、まだまだ駆け出しのチームです。<br>
        入会費や月謝等は一切ありません。見学だけでもOKです。<br>
        ご参加・見学希望の方は、下記連絡先まで、お気軽にお問合せください。
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12" style="text-align: center; background: #FFEEFF; padding: 1em;">
      <h2>最近やってること</h2>
    </div>
  </div>
</div>