<div class="home_image">
<h1>ようこそ Rootsへ!</h1>
<p>人はみな、生活している中でそれぞれのRootsがあると思います。<br
>学校の教育、職業場での教育、生まれ育った地域環境、家庭内での教育、国ごとの生存環境、、などなど。<br>
そんな環境の中でそれぞれの生き方があり、ノウハウが積まれていきます。それを職業（コンサルなど）にし、さらにノウハウを構築し、様々な環境が構築されて世の中はまわっています。<br>
本ページは個人個人の積み上げられたノウハウを記録し、記憶し、活用されることを目的に作成されました。<br>
基本的にプライバシーは尊重され、管理人</p>
</div>


<p>hello</p>