<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<div class="row">
  <div class="col-12">
    <div class="home_image">
      <h1>ようこそ 南風へ!</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <div class="slider">
      <div class="slide__image">
        <a href="/intro">
          <div class="intro">
            <p>南風について</p>
          </div>
        </a>
      </div>
      <div class="slide__image">
        <a href="/members">
          <div class="members">
            <p>メンバー</p>
          </div>
        </a>
      </div>
      <div class="slide__image">
        <a href="/intro">
          <div class="activity">
            <p>活動内容</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>