<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<% content_for(:html_description) { "南風第二章の概要や活動内容、愉快なメンバーをご紹介します！" } %>

<%= render "home/topImages" %>

<div class="btn-circle-fishy">
  <%= link_to "TOP", "#" %>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>
        ようこそ！南風へ
      </h1>
    </div>
  </div>

  <div class="home__mod2">
    <div class="row">
      <div class="col-md-8">
        <h2>◆代表挨拶◆</h2>
        <p>
          はいさ～～い、<br>
          沖縄で生まれ育ち、高知県にてエイサーとよさこい祭りのサークルを立ち上げ活動を行っていました南風（ぱいかじ）代表の上原です。<br>
          2020年、関東にて約15年ぶりにエイサーサークル南風2ndを新に結成しました！！<br>
          <br>
          私たちは、沖縄出身の２０代３０代が中心となって、関東で沖縄の伝統芸能（エイサー）活動を行っています。最近は子供の部（幼稚園児～小中学生まで）の練習活動も行っております。<br>
          気軽に、自分らしく、生き生きとをモットーに活動する、アットホームなチームです。<br>
          いちゃりばちょーでーを合言葉に、少しづつ少しづつチームの輪を広げていきたいなと思っています。
          踊りは、伝統的な沖縄の演舞をベースとして、よさこいの鳴子踊りの要素を追加した創作エイサーです。
          土日を中心に、東京の大きな公園（水元公園、小金井公園、代々木公園）の一角で、エイサーや三線のレッスンを行っております。
          <br>
          直近の目標は、子供の部で『新宿エイサー祭り』に参加することです（^^）<br>
          <br>
          現在のメンバーは、10人以下で、まだまだ駆け出しのチームです。<br>
          初心者や親子での参加、大歓迎です。<br>
          入会費や月謝等は一切ありません。見学だけでもOKです。<br>
          創作太鼓も無償で配布しています。<br>
        </p>
      </div>
      <div class="col-md-4">
        <div class="slider">
          <div class="slide__image">
            <a href="/histories">
              <div class="histories">
                <p>南風について</p>
              </div>
            </a>
          </div>
          <div class="slide__image">
            <a href="/members">
              <div class="members">
                <p>メンバー</p>
              </div>
            </a>
          </div>
          <div class="slide__image">
            <a href="/#">
              <div class="activity">
                <p>活動内容</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render "home/activities" %>
</div>
