<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        南風の歴史
      </h1>
    </div>
  </div>

  <div class="row">
      <% @histories.each do |history| %>
      <div class="col-md-6 introduction" Style="padding: 0;">
        <div class="title">
          <p> <%= history.year %>　テーマ：<%= history.theme %></p>
        </div>
        <p>詳細：<%= history.details %></p>
      </div>
      <div class="col-md-6" Style="padding: 0;">
        <%= image_tag history.image_path %>
      </div>
      <% end %>
    </div>
</div>