<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        お問い合わせ
      </h1>
      <div class="home__mod2">
        <div class="row">
          <div class="col-md-12">
          <p>下記、代表へのお問い合わせになります。<br>お気軽にご連絡ください。</p>
            <p>e-mail：paikaji2nd@gmail.com</p>
            <p>TEL　：090-9458-1755（上原）</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
