/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_self
 *= require_tree
 *
 */
@import "bootstrap";

html {
    height: 100vh;
}

body {
    height: 100vh;
    margin: 0;

    // @media (max-width: 480px) {
    //     p {
    //         font-size: 100%;
    //     }
    // }

    // @media (min-width: 481px) {
    //     p {
    //         font-size: 150%;
    //     }
    // }

    h1 {
        color      : #003399;
        font-weight: bold;
        text-align : center;
        margin     : 2rem auto;
    }
}

.main {
    min-height        : 100vh;
    position          : relative;
    /*←相対位置*/
    padding-bottom    : 120px;
    /*←footerの高さ*/
    box-sizing        : border-box;
    /*←全て含めてmin-height:100vhに*/
    // height: 100vh;
}

.main__head {
    // background-color: #ffffee;
}

img {
    width: 100%;
}

header {
    .logo {
        float  : left;
        padding: 10px;
        width  : 100px;
    }

    nav {
        button:not(.disabled):hover {
            background-color: white;
            background-image: linear-gradient(180deg, white, white);
        }

        button {
            background-color: white;
            background-image: linear-gradient(0, white, white);
        }

        .navbar-toggler {
            border      : none;
            color       : white;
            border-color: white;
        }

        .navbar-toggler:active {
            outline     : none;
            color       : white;
            border-color: white;
        }

        button:focus {
            outline     : none;
            color       : white;
            border-color: white;
        }

        padding: 30px 0;

        .navi {
            padding   : 0.5em 1em;
            width     : 100%;
            margin-top: 20px;

            ul {
                overflow      : hidden;
                letter-spacing: -1em;
                /* 文字間を詰める */
                white-space   : nowrap;
            }

            li {
                list-style    : none;
                letter-spacing: normal;
                /* 文字間を元に戻す */
                white-space   : normal;
                float         : left;

                @media (max-width: 767px) {
                    float         : none;
                    font-weight   : bold;
                    display       : block;
                    width         : 100%;
                    font-size     : 100%;
                    padding-bottom: 5px;
                    text-align    : right;

                    a {
                        color          : navy;
                        text-decoration: none;
                    }
                }

                width     : 20%;
                text-align: center;

                @media (min-width: 768px) {
                    a {
                        text-decoration: none;
                        font-weight    : bold;
                        display        : block;
                        top            : 0;
                        left           : 0;
                        width          : 100%;
                        height         : 100%;
                        color          : black;
                        font-size      : 100%;

                        @media (min-width: 1024px) {
                            font-size: 100%;
                            color    : black;
                        }
                    }
                }
            }

            li+li {
                height: 100%;
            }
        }

        .head__btn {
            margin: 0 0 0 auto;
            width : 80%;
            height: 80%;

            @media (min-width: 768px) and (max-width: 1023px) {
                margin: 0 0 0 auto;
                width : 80%;
                height: 80%;

                a {
                    font-size: 50%;
                }

                margin-bottom: 10px;
            }

            ul {
                list-style: none;
                float     : right;

                .whitecor-link {
                    a {
                        color          : white;
                        text-decoration: none;
                    }
                }

                .bluecor-link {
                    a {
                        color          : blue;
                        text-decoration: none;
                    }
                }

                li {
                    list-style: none;
                    padding   : 0 10px;
                    float     : left;
                }
            }

            @media (max-width: 767px) {
                width: 100%;

                a {
                    font-size: 70%;
                }
            }
        }
    }
}

.p__body {
    background-image: image-url("back.jpg");
    background-size : 100% 100%;
    padding         : 0 0 30px 0;
    height          : auto;
    min-height      : 100vh;
}

footer {
    position        : absolute;
    width           : 100%;
    height          : 120px;
    background-color: lightgray;
    color           : blue;
    text-align      : center;
    padding         : 30px 0;
    bottom          : 0;
}

.alert {
    &-alert {
        color           : $white;
        background-color: red;
    }

    &-notice {
        color           : blue;
        background-color: #CCFFFF;
    }
}