// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home_image{
    background-image: image-url("home_back.jpeg");
    background-repeat: no-repeat;
    background-size:100% 100%;
    margin-bottom: 2em;
    padding: 10px;
    padding-bottom: 20%;
    width: 100%;
    height: 300px;
    h1 {
        color: greenyellow;
    }
}

.slide__image{
    a{
        text-decoration: none;
        .intro {
            background-repeat: no-repeat;
            background-size:100% 100%;
            height: 300px;
            background-image: image-url("paikaji_intro.jpg");
            p {
                width: 32%;
                text-align: center;
                color: white;
                background: skyblue;
                font-weight: bold;
                font-size: 1.5em;
                font-family :Quicksand, sans-serif;
            }
        }
        .members {
            background-repeat: no-repeat;
            background-size:100% 100%;
            height: 300px;
            background-image: image-url("members.jpg");
            p {
                width: 32%;
                text-align: center;
                color: white;
                background: skyblue;
                font-weight: bold;
                font-size: 1.5em;
                font-family :Quicksand, sans-serif;
            }
        }
        .activity {
            background-repeat: no-repeat;
            background-size:100% 100%;
            height: 300px;
            background-image: image-url("comming_soon.png");
            p {
                width: 32%;
                text-align: center;
                color: white;
                background: skyblue;
                font-weight: bold;
                font-size: 1.5em;
                font-family :Quicksand, sans-serif;
            }
        }
    }
}

.slick-dots {
    li {
        font-size: 20px !important;
        button:before {
            content: "★" !important;
            font-size: 14px !important;
            color: rgb(60, 60, 60) !important;
        }
    }
}
