// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.member__img {
  img {
    border-radius: 100%; /* 角丸半径を50%にする(=円形にする) */
    width: 100%; /* 縦横を同じ値にする */
    height: 100%; /* 縦横を同じ値にする */
    object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
    margin-bottom: 15px;
  }
}

table,
td {
  // border: 1px solid gray;
  font-size: 100%;
  background-color: white;
  box-shadow: 0 0 2px gray;
  padding: 0.5rem;
}

table {
  thead {
    tr {
      th {
        background-color: navy;
      }
    }
  }
}

thead,
tfoot {
  color: white;
  text-align: center;
  font-size: 150%;
  box-shadow: 0 0 2px gray;
}
