.user-create {
    margin: 0 20%;
    width: 100%;
    h2 {
        margin: 1em 0;
        text-align: center;        
    }
    .formTable {
        tr {
            border-collapse: collapse;
            border: 1px solid #ccc;
            line-height: 50px;
            vertical-align: middle;
        th {
                width: 30%;
                background-color: #fafafb;
                padding-left: 2em;
            }
            td {
                width: 70%;
                padding-left: 2em;
            }
        }
    }
    .sign__btn {
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;        
    }
}

.user-login {
    margin: 0 20%;
    width: 100%;
    h2 {
        margin: 1em 0;
        text-align: center;        
    }
    .login__btn {
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;        
    }
}

.form-block {
    padding: 1em;
    border-top: inset 5px lightskyblue;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.22);
    margin-bottom: 3em;
    h3 {
        height: 50px;
        line-height: 50px;
        font-weight: bold;
        color: black;
        border-bottom: inset 1px darkgrey;
    }
}

.whitecor-link {
    a{
        color: white;
        text-decoration: none;    
    }
}
.bluecor-link {
    a{
        color: blue;
        text-decoration: none;    
    }    
}
