<h2>MEMBERS</h2>
<p>
上原健太&nbsp;通称：ちゃぶ&nbsp;★南風第二章代表★<br>
1982年&nbsp;&nbsp;沖縄生まれ<br>
2001年&nbsp;&nbsp;高知大学へ入学<br>
2002年&nbsp;&nbsp;高知大学沖縄県人会を設立　初代代表<br>
2005年&nbsp;&nbsp;よさこいチーム南風 初代学生代表<br>
2018年&nbsp;&nbsp;9代目南風メンバー　崎原大地、比嘉一晃と関東で再開<br>
2020年&nbsp;&nbsp;8代目代表 西原佐和子と再開し、南風-第2章-の結成を決断する<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;初代南風社会人代表、野村氏（けんじにいにい）に連絡し、<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;歴代使用してきた締め太鼓・大太鼓を高知から東京へ取り寄せる<br>
2020年&nbsp;&nbsp;10月、南風-第2章-を結成
</p>
