<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>
        愉快な仲間たち
      </h1>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="member__img">
          <%= image_tag "comming_soon.png" %>
        </div>
      </div>
      <div class="col-6">
        <table>
          <thead>
            <tr>
              <th colspan="2">上原健太　通称：ちゃぶ　<span style="color: #FF99FF;">★南風第二章代表★</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td width=20%>1982年</td>
              <td width=80%>沖縄生まれ</td>
            </tr>
            <tr>
              <td width=20%>2001年</td>
              <td width=80%>高知大学へ入学</td>
            </tr>
            <tr>
              <td width=20%>2002年</td>
              <td width=80%>高知大学沖縄県人会を設立　初代代表</td>
            </tr>
            <tr>
              <td width=20%>2005年</td>
              <td width=80%>よさこいチーム南風 初代学生代表</td>
            </tr>
            <tr>
              <td width=20%>2018年</td>
              <td width=80%>9代目南風メンバー　崎原大地、比嘉一晃と関東で再開</td>
            </tr>
            <tr>
              <td width=20%>2020年</td>
              <td width=80%>8代目代表 西原爽和子と再開、南風-第2章-の結成を決断、
              初代南風社会人代表、野村氏（けんじにいにい）に連絡し、
              歴代使用してきた締め太鼓・大太鼓を高知から東京へ取り寄せる
              </td>
            </tr>
            <tr>
              <td width=20%>2020年</td>
              <td width=80%>10月、南風-第2章-を結成</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>