<h2>MEMBERS</h2>

<div class="row intro__content" style="background: #CCFFFF;">
  <div class="col-6">
  <div class="mem__tya">
    <%= image_tag "comming_soon.png" %>
  </div>
  </div>
  <div class="col-6">
  <div class="mem__tya">
    <h3>上原健太　通称：ちゃぶ　<span style="color: #FF99FF;">★南風第二章代表★</span></h3>
    <p style="font-size: 120%;">
    1982年　沖縄生まれ<br>
    2001年　高知大学へ入学<br>
    2002年　高知大学沖縄県人会を設立　初代代表<br>
    2005年　よさこいチーム南風 初代学生代表<br>
    2018年　9代目南風メンバー　崎原大地、比嘉一晃と関東で再開<br>
    2020年　8代目代表 西原爽和子と再開し、南風-第2章-の結成を決断する<br>
    　　　　　初代南風社会人代表、野村氏（けんじにいにい）に連絡し、<br>
    　　　　　歴代使用してきた締め太鼓・大太鼓を高知から東京へ取り寄せる<br>
    2020年　10月、南風-第2章-を結成
    </p>
  </div>
  </div>
</div>

