<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>プロフィール</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p>ユーザー名：<%= @user.username %> </p>
      <p>自己紹介<br><%= simple_format h @user.introduction %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
    </div>
  </div>
</div>